.WatchList {
  padding: 20px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  overflow: auto;

  &-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
