.Header {
  display: flex;
  justify-content: space-between;
  color: white;
  background: #666666;
  padding: 20px;

  &-search {
    display: flex;
    align-items: center;
  }

  &-watchList {
    width: 150px;
    margin-left: 100px;
    display: flex;
    justify-content: center;
  }

  &-filters {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
